.card {
    margin-bottom: 2rem;
}

.card-img-overlay {
    display: none;
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

div.card:hover img.card-img {
    opacity: 0.2;
}

div.card:hover .card-img-overlay{
    display: flex;
}

p {
    font-size: 1.25rem;
}

button.btn.btn-lg.btn-outline-primary{
    color: red;
    border-color: red;
}

button.btn.btn-lg.btn-outline-primary:hover {
    color: #fff;
    background-color: red;
    border-color: red;
}    