<div class="container">
  <div class="card" style="width: 15rem;">
      <img class="card-img-top" src={{artist?.image}} alt={{artist?.name}}>
      <div class="card-body">
        <h5 class="card-title">{{artist?.name}}</h5>
        <p class="card-text">{{artist?.listeners}}</p>
        <p class="card-text">{{artist?.bio}}</p>
      </div>
  </div>
</div>

<div class="container">
  <h3>Popular Albums</h3>
</div>

<div class="container">
  <div class="row justify-content-center">
    <app-artist-card class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let artist of topArtists" [artist]="artist"></app-artist-card>
  </div>     
</div> 

<div class="container">
  <h3>Similar Artists</h3>
</div>

<div class="container">
    <div class="row justify-content-center">
      <app-artist-card class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let artist of topArtists" [artist]="artist"></app-artist-card>
    </div>     
  </div> 
