.breadcrumb {
    margin-bottom: 0;
    background-color: white;
    border-radius: 0;
}

a {
    color: red;
}

h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

div.container>h3~h3 {
    margin-top: -1rem;
}