<div class="container">
  <app-breadcrums [artistName]='artist?.name'></app-breadcrums>
  <div class="row">
    <div class="col-auto">
      <img class="rounded float-left" src={{artist?.image}} alt={{artist?.name}}>
    </div>
    <div class="col-auto">
      <h5 class="card-title">Name: {{artist?.name}}</h5>
      <p class="card-text"><i class="fas fa-headphones"></i> listeners: {{artist?.listeners}}</p>
      <p class="card-text"><i class="fas fa-dollar-sign"></i> playcount: {{artist?.playcount}}</p>
      <p class="card-text">{{artist?.tags}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Biography</h3>
      <p class="card-text">{{artist?.bio}}</p>
    </div>
  </div>

  <h3>Popular Albums</h3>
  <div class="row justify-content-center">
    <app-album-card class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let album of topAlbums" [album]="album"></app-album-card>
  </div>

  <h3>Similar Artists</h3>
  <div class="row justify-content-center">
    <app-similar-artist-card class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let artist of similarArtists" [artist]="artist"></app-similar-artist-card>
  </div>

</div>
